<center>
![](https://mlcourse.ai/notebooks/blob/master/img/ods_stickers.jpg)
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [5]:
import pandas as pd
import numpy as np

In [7]:
# Change the path to the dataset file if needed. 
PATH = '../input/120-years-of-olympic-history-athletes-and-results/athlete_events.csv'

In [8]:
data = pd.read_csv(PATH)
data.head()

   ID                      Name  ...                               Event  Medal
0   1                 A Dijiang  ...         Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...        Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...             Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...         Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...    Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

## Questions

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [9]:
male = data[(data['Sex'] == 'M') & (data['Year'] == 1996)]['Age'].min()
female = data[(data['Sex'] == 'F') & (data['Year'] == 1996)]['Age'].min()
print(male, 'and', female)

14.0 and 12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [14]:
male_gym = data[(data['Sex'] == 'M') & (data['Year'] == 2000) & (data['Sport'] == 'Gymnastics')]['ID'].nunique()
male_part = data[(data['Sex'] == 'M') & (data['Year'] == 2000)]['ID'].nunique()
round(male_gym / male_part * 100, 1)

1.5

Answer:

***B) 1.5***

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [15]:
height = data[(data['Sex'] == 'F') & (data['Sport'] == 'Basketball') & (data['Year'] == 2000)]['Height']
print(round(height.mean(), 1), 'and', round(height.std(), 1))

182.4 and 9.1

Answer:

***D) 182.4 and 9.1***

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [16]:
data[data.Year == 2002].groupby(by=['Year','Season'],as_index=False)['ID'].count()
max_Weight = data[data.Year == 2002]['Weight'].max()
data.loc[(data.Year == 2002)&(data.Weight == max_Weight),:]
data.loc[(data.Year == 2002)&(data.Weight == max_Weight),:].Sport

99154    Bobsleigh
Name: Sport, dtype: object

Answer:

** B) Bobsleigh**

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [17]:
data.loc[data.Name == 'Pawe Abratkiewicz'].Year.nunique()

3

Answer:

** D)3 **

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [18]:
data[data.Year == 2000].groupby(by=['Year','Season'],as_index=False)['ID'].count()
data[(data.Year == 2000)&(data.Sport == 'Tennis')&(data['NOC'].isin(['AUS','ANZ']))].groupby(by=['Team','Medal'], as_index = False)['ID'].count()

        Team   Medal  ID
0  Australia  Silver   2

Answer:

** C)2 **

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [20]:
def n_medal(country): 
    print(country,':',data[(data.Year==2016)&(data.Team==country)&(data.Medal.notnull())]['Medal'].count(),"medals")

In [21]:
n_medal('Switzerland')
n_medal('Serbia')

Switzerland : 11 medals
Serbia : 54 medals

Answer:

**A) Yes**

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [23]:
age_15 = data[(data['Year'] == 2014) & (data['Age'] >= 15) & (data['Age'] < 25)]['ID'].nunique()
age_25 = data[(data['Year'] == 2014) & (data['Age'] >= 25) & (data['Age'] < 35)]['ID'].nunique()
age_35 = data[(data['Year'] == 2014) & (data['Age'] >= 35) & (data['Age'] <= 45)]['ID'].nunique()
age_45 = data[(data['Year'] == 2014) & (data['Age'] >= 45) & (data['Age'] <= 55)]['ID'].nunique()
ages = {age_35:'35-45', age_45:'45-55'}
print(ages[min(age_35, age_45)], end=' ')
age_35 = data[(data['Year'] == 2014) & (data['Age'] >= 35) & (data['Age'] < 45)]['ID'].nunique()
ages = {age_15:'15-25', age_25:'25-35', age_35:'35-45'}
print('and', ages[max(age_15, age_25, age_35)])

45-55 and 25-35

Answer:

**A) [45, 55] and [25 , 35) **

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [25]:
if len(data[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')]) == 0:
    print('No', end=', ')
else:
    print('Yes', end=', ')
if len(data[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')]) == 0:
    print('No')
else:
    print('Yes')

No, Yes

Answer:

**C) No, Yes **

In [ ]:
data.groupby(by=['Year','Season'],as_index=False)['ID'].count()

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [27]:
abs(data[data['Year'] == 1995]['Sport'].nunique() - data[data['Year'] == 2016]['Sport'].nunique())

34

Answer:

**D) 34**